# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
build/

# Android keystore — JANGAN DI-COMMIT!
android/key.properties
*.jks
*.keystore

# Local
android/local.properties
android/.gradle/
android/build/
